/* Camera.vue */
.video-container {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.video-container video {
  min-width: 100%;
  min-height: 100%;
}

.scanInfo {
  width: 100%;
  height: 20%;
  background-color: #212121;
}

.accentInfo {
  color: #3ff23f !important;
  font-size: 170%;
  font-weight: bold;
}

.secondaryInfo {
  color: #f5f5f5 !important;
  font-size: 160%;
  font-weight: bold;
}

.detailInfo {
  color: #f5f5f5 !important;
  font-size: 110%;
}

.alertInfo {
  color: #f5f5f5;
  font-size: 150%;
  text-align: center;
}

.searchInfo {
  color: #3ff23f !important;
  font-size: 110%;
  font-weight: bold;
}

.spinner {
  color: #3ff23f !important;
  position: absolute;
  left: 35%;
  top: 40%;
}

/* Detail.vue */
.info-box {
  padding: 24px 0px 0px 0px !important;
}
.detail {
  max-height: 350px;
  overflow: scroll;
}

/* view > Search > SearchList.vue */
.searchTitle {
  font-size: 200%;
  font-weight: bold;
  text-align: center;
}

.imgDiv {
  text-align: center;
  font-size: 25px;
  margin-top: 20%;
}
